/* universal settings */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-section {
  background-image: url(images/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 698px;
}
.open-sans-common {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.raleway-common {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.logo {
  color: #4e47ff;
  font-size: 36px;
  margin-top: 10px;
}

/* common style */
.primary-button {
  color: #ffffff;
  background-color: #4e47ff;
  cursor: pointer;
  padding: 12px 36px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  border: #4e47ff;
}
/* nav styling*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
}

nav li {
  list-style: none;
}
.hero-text {
  justify-items: center;
}
.hero-h3 {
  font-size: 65px;
  text-align: center;
  margin-bottom: 37px;
}
.button-focused {
  text-align: center;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}
.webflow {
  display: flex;
  justify-content: space-between;
  padding-top: 116px;
}
.launch-live {
  padding-top: 62.5px;
}
.h4-title {
  font-size: 42px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.launch-text {
  padding-top: 10px;
  font-size: 24px;
  color: #252432;
  opacity: 50%;
}

.web-conf {
  width: 403px;
  height: 328px;
  background-image: url(images/wc-mini.png);
  border-radius: 48px;
}

.productive-users {
  background-color: rgba(78, 71, 255, 0.1);
  max-width: 1140px;
  margin: 0 auto;
  border-radius: 24px;
  margin-top: 116px;
}
.productive {
  text-align: center;
  padding-top: 50px;
}

.productive-title {
  font-size: 38px;
  margin: 0;
  padding-bottom: 40px;
}
.show-state {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0px 142px 50px;
}
.user-state-title {
  font-size: 80px;
  color: #4e47ff;
  padding: 0;
  margin: 0;
}
.user-state-text {
  font-size: 20px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: #000000;
  opacity: 50%;
}

.get-in-touch {
  display: flex;
}
